*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	font-size: 10px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.section-header {
	margin-top: 50px;
	text-align: center;
	font-weight: 200;
	font-size: 3.6rem;
	text-transform: uppercase;
}
