@use './helpers' as *;

.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 10vh;
	background-color: $main-color;
	z-index: 100;
	overflow: hidden;

	&__navigation {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			text-decoration: none;
			border-radius: 8px;
			color: $contrast-color;
			transition: background-color 0.3s, color 0.3s;

			&:hover {
				background-color: $contrast-color;
				color: $main-color;
			}
		}
	}

	&__burger {
		display: none;
	}

	&__logo {
		font-size: 3.2rem;
		color: $logo-color;
	}
}

.header {
	margin-top: 10vh;
	&__hero {
		position: relative;
		background-size: cover;
		&-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.65);
		}
		&-text {
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
			transform: translate(-50%, -50%);
			color: $main-color;
			z-index: 10;
		}
	}
}
//--------------------------------------------------------------------------------
//
//
//
//
//
// MOBILE BREAKPOINT START --------------------------------------------------------------

@media (max-width: 768px) {
	.nav {
		justify-content: center;

		&__navigation {
			flex-direction: column;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $main-color;
			transform: translateX(100vw);
			transition: transform 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);

			a {
				margin-top: 40px;
				padding: 20px 40px;
				font-size: 2.4rem;
			}
		}

		&__burger {
			display: block;
			position: absolute;
			top: 50%;
			right: 20px;
			transform: translateY(-50%);
			z-index: 10;

			button {
				display: none;
				padding: 20px 30px;
				font-size: 2.6rem;
				background: none;
				border: none;
				cursor: pointer;
			}

			.active {
				display: block;
			}
		}
	}

	.open-nav {
		transform: translateX(0);
	}

	.header {
		&__hero {
			height: 400px;
			background-image: url('../img/jungle_640.jpg');

			&-text {
				p {
					font-size: 1.8rem;
				}

				h1 {
					margin-top: 10px;
					font-size: 2.6rem;
				}
			}
		}
	}
}

// MOBILE BREAKPOINT END --------------------------------------------------------------
//
//
//
//
// DESKTOP BREAKPOINTS START --------------------------------------------------------------

@media (min-width: 768px) {
	.nav {
		justify-content: space-around;

		&__navigation {
			a {
				padding: 100% 30px;
				font-size: 1.8rem;
			}
		}
	}

	.header {
		&__hero {
			height: 600px;
			background-image: url('../img/jungle_1920.jpg');
			&-text {
				p {
					font-size: 1.8rem;
				}

				h1 {
					margin-top: 10px;
					font-size: 2.6rem;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		&__hero {
			height: 800px;

			&-text {
				left: 200px;
				text-align: left;
				transform: translate(0, -50%);
				p {
					font-size: 2.8rem;
				}

				h1 {
					margin-top: 20px;
					font-size: 3.6rem;
					color: $main-color;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.header {
		&__hero {
			&-text {
				p {
					font-size: 3.2rem;
				}

				h1 {
					font-size: 4.2rem;
				}
			}
		}
	}
}

// DESKTOP BREAKPOINTS END --------------------------------------------------------------
